body {
  background-color: white;
  color: black;
  font-weight: 700;
  max-width: 1600px;
  margin: 0 auto;
  padding: 100px;
  min-height: 0!important; /* overriding browser user agent to bypass 100vh chrome standard */
}

table {
  border-collapse: collapse;
  width:100%;
  table-layout: fixed;
  overflow-wrap: break-word;
  border: 1px solid lightslategray;
  text-align: center;
}

table thead tr th, table th, table td, thead, tr{
  border-bottom: 1px solid lightslategray;
}

table tbody tr:hover {
  background-color: lightgray;
}

/* there was no requirement about setting this class on click of row, but added this style regardless */
table tbody tr.selected {
  background-color: lightslategray;
}

table thead th:first-child, table tbody tr:first-child {
  width: 5%;
}

table thead th:nth-child(4), table tbody tr:nth-child(4) {
  width: 35%;
}

table thead th {
  padding: 15px;
}

table tbody td {
  padding: 10px;
}

#controls {
  display: flex;
  justify-content: space-around;
  align-items: baseline;
  max-width: 500px;
  margin-bottom: 15px;
}

#controls button {
  background-color: white;
  color: black;
  font-weight: 700;
}

#controls button::before {
  content: url('../assets/download-icon-sm.jpeg');
  width: 25px;
  height: 37px;
  margin-right: 10px;
}

#controls button:disabled {
  color: gray;
}

.greenDot {
  height: 12px;
  width: 12px;
  margin-right: 10px;
  background-color: green;
  border-radius: 50%;
  display: inline-block;
}